body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#fact {
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background-color: #45a049;
}